@inject LoadingService LoadingService
@implements IDisposable

@if (LoadingService.IsLoading)
{
    <div class="loading-overlay">
        <div class="spinner"></div>
    </div>
}

@code {
    protected override void OnInitialized()
    {
        LoadingService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        LoadingService.OnChange -= StateHasChanged;
    }
}