.plans-list {
    list-style: none;
    padding: 0
}

    .plans-list li {
        margin-bottom: .5rem
    }

    .plans-list .meta {
        margin-left: .5rem;
        color: gray;
        font-size: .8rem
    }

.new-btn {
    margin-bottom: 1rem
}
