@inject IConfiguration Configuration
@{
    var googleMapsApiKey = Configuration["GOOGLE_MAPS_API_KEY"];
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/GeoJourneyer.App.Shared/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="_content/GeoJourneyer.App.Shared/app.css" />
    <link rel="stylesheet" href="GeoJourneyer.App.Web.styles.css" />
    <link rel="stylesheet" href="_content/GeoJourneyer.App.Shared.styles.css" />
    <link rel="icon" type="image/png" href="_content/GeoJourneyer.App.Shared/favicon.png" />
    <HeadOutlet @rendermode="InteractiveWebAssembly" />
</head>

<body>
    <Routes @rendermode="InteractiveWebAssembly" />
    <script src="_framework/blazor.web.js"></script>
    <script src="https://unpkg.com/topojson-client@3"></script>
    <script src="https://unpkg.com/globe.gl@2.42.0/dist/globe.gl.min.js"></script>
    <script src="_content/GeoJourneyer.App.Shared/globe.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=@googleMapsApiKey&amp;libraries=places"></script>
    <script src="_content/GeoJourneyer.App.Shared/mapPlacePicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>
    <script src="_content/GeoJourneyer.App.Shared/planCreator.js"></script>
</body>

</html>
