<nav class="navbar">
    <a class="logo" href="/">GEOJOURNEY</a>
    <ul class="nav-links">
        <li><NavLink href="/destinations">Destinations</NavLink></li>
        <li><NavLink href="/about">About</NavLink></li>
        <li><NavLink href="/contact">Contact</NavLink></li>
    </ul>
    <NavLink href="/login" class="signup-btn">Sign Up</NavLink>
</nav>