@inject ApiProxyClient ApiClient
@inject AuthState AuthState
@using Microsoft.AspNetCore.Components.Routing

<nav class="navbar">
    <a class="logo" href="/">GEOJOURNEY</a>

    <ul class="nav-links">
        <li><NavLink href="/destinations" Match="NavLinkMatch.All">Destinations</NavLink></li>
        <li><NavLink href="/countries">Countries</NavLink></li>
        <li><NavLink href="/friends">Friends</NavLink></li>
        <li><NavLink href="/about">About</NavLink></li>
        <li><NavLink href="/contact">Contact</NavLink></li>
    </ul>

    <div class="auth">
        @if (AuthState.IsLoggedIn)
        {
            <NavLink href="/profile" class="profile">@AuthState.Username</NavLink>
            <button class="logout-btn" @onclick="Logout">Log Out</button>
        }
        else
        {
            <NavLink href="/login" class="signup-btn">Sign Up</NavLink>
        }
    </div>
</nav>

@code {
    protected override void OnInitialized()
    {
        AuthState.OnChange += StateHasChanged;
    }

    private async Task Logout()
    {
        ApiClient.SetToken(null);
        await AuthState.SignOutAsync();
    }

    public void Dispose()
    {
        AuthState.OnChange -= StateHasChanged;
    }
}
